node_modules
**/node_modules
dist
**/dist
.git
attached_assets
**/start-local.sh
.env
**/.env
**/.env.*
.expo
**/.expo
.turbo
**/.turbo
*.log
**/*.log
ios
android
**/ios
**/android
.DS_Store
.vscode
.idea
